<div class='border-bottom row',style='margin-bottom:20px;padding-bottom:14px'>
    <div class="col-10">
        <h4 style="color: rgb(120, 120, 120);">{{ job['title'] }}</h4>
        <div>
       <b>Location</b> : <span class="location-text">{{ job['location'] }}</span>
        </div>
       <div class="mt-2 mb-2">
          {% if 'salary' in job %}
          <b>Salary</b> : <span class="salary-text">{{ job['salary'] }}</span>
          {%  endif %}
        </div>
    </div>
    <div class="col-2" style='padding-top:30px'>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ashwanisaraswat40@gmail.com&su=Application%20for%20{{ job['title'] | urlencode }}&body=My%20name%3A%20%3Cyour%20name%3E%0D%0AMy%20age%3A%20%3Cyour%20age%3E%0D%0AMy%20resume%3A%20%3Cyour%20resume%3E" 
           target="_blank" 
           class="btn btn-outline-primary">
             Apply
            </a>
    </div>
 </div>